<div class="jumbotron bg-white text-center">
  <h1 class="display-4">COVID19 Cases Updates</h1>
  <hr>
  <div class="row">
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">Confirmed</div>
        <div class="value">{{ globalConfirmedCases }}</div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">Deaths</div>
        <div class="value">{{ globalDeathCases }}</div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">Recovered</div>
        <div class="value">{{ globalRecoveredCases }}</div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">Active</div>
        <div class="value">{{ globalActiveCases }}</div>
      </div>
    </div>
  </div>
</div>
