<div class="jumbotron bg-white text-center">
    <h1 class="display-4">COVID19 Cases Country Updates</h1>
    <hr>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In obcaecati, laudantium ad officia illum fugiat ullam dicta, porro aliquid eius itaque repudiandae sapiente. Aperiam beatae, accusantium officiis ratione quidem excepturi!</p>
  </div>
